body {
  margin:0px;
  background-color:rgba(121, 121, 121, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u924_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:720px;
  background:inherit;
  background-color:rgba(70, 76, 91, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u924 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:1280px;
  height:720px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u924_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u925 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u926_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:720px;
  background:inherit;
  background-color:rgba(245, 247, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u926 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:1280px;
  height:720px;
  opacity:0.5;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u926_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u927 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u928 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u929_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:604px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u929 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:110px;
  width:468px;
  height:604px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u929_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u930_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:2px;
}
#u930 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:647px;
  width:468px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u930_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u931_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:25px;
}
#u931 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:175px;
  width:417px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:center;
}
#u931_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:413px;
  word-wrap:break-word;
}
#u932_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:28px;
}
#u932 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:127px;
  width:79px;
  height:28px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u932_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:75px;
  white-space:nowrap;
}
#u933_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#49A9F0;
}
#u933 {
  border-width:0px;
  position:absolute;
  left:589px;
  top:665px;
  width:41px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#49A9F0;
}
#u933_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u934 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u935_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u935 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:449px;
  width:150px;
  height:150px;
}
#u935_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  word-wrap:break-word;
}
#u936_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:28px;
}
#u936 {
  border-width:0px;
  position:absolute;
  left:501px;
  top:609px;
  width:40px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u936_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  white-space:nowrap;
}
#u937 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u938_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u938 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:449px;
  width:150px;
  height:150px;
}
#u938_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  word-wrap:break-word;
}
#u939_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:28px;
}
#u939 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:609px;
  width:95px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u939_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:91px;
  white-space:nowrap;
}
#u940 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u941_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:140px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:36px;
}
#u941 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:216px;
  width:80px;
  height:80px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:36px;
}
#u941_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:22px;
  width:80px;
  word-wrap:break-word;
}
#u942_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:21px;
}
#u942 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:300px;
  width:53px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u942_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u943 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u944_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:140px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:36px;
}
#u944 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:216px;
  width:80px;
  height:80px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:36px;
}
#u944_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:22px;
  width:80px;
  word-wrap:break-word;
}
#u945_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:21px;
}
#u945 {
  border-width:0px;
  position:absolute;
  left:572px;
  top:300px;
  width:77px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u945_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u946 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u947_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:140px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:36px;
}
#u947 {
  border-width:0px;
  position:absolute;
  left:704px;
  top:216px;
  width:80px;
  height:80px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:36px;
}
#u947_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:22px;
  width:80px;
  word-wrap:break-word;
}
#u948_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:21px;
}
#u948 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:300px;
  width:53px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u948_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u949 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u950_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:140px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:36px;
}
#u950 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:334px;
  width:80px;
  height:80px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:36px;
}
#u950_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:22px;
  width:80px;
  word-wrap:break-word;
}
#u951_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:21px;
}
#u951 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:418px;
  width:113px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u951_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:109px;
  white-space:nowrap;
}
#u952 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u953_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:140px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:36px;
}
#u953 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:334px;
  width:80px;
  height:80px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:36px;
}
#u953_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:22px;
  width:80px;
  word-wrap:break-word;
}
#u954_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:21px;
}
#u954 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:418px;
  width:111px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u954_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:107px;
  white-space:nowrap;
}
