body {
  margin:0px;
  background-color:rgba(121, 121, 121, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u64_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2200px;
  height:1759px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2200px;
  height:1759px;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
