body {
  margin:0px;
  background-color:rgba(121, 121, 121, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:720px;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:1280px;
  height:720px;
}
#u230_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:rgba(0, 0, 0, 0.427450980392157);
  text-align:center;
  line-height:22px;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:251px;
  width:350px;
  height:74px;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:rgba(0, 0, 0, 0.427450980392157);
  text-align:center;
  line-height:22px;
}
#u233_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:350px;
  word-wrap:break-word;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u236_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:24px;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:321px;
  width:350px;
  height:38px;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:24px;
}
#u236_text {
  border-width:0px;
  position:absolute;
  left:36px;
  top:7px;
  width:314px;
  word-wrap:break-word;
}
#u237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:332px;
  width:15px;
  height:15px;
  font-family:'anticon Regular', 'anticon';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
}
#u237_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:15px;
  word-wrap:break-word;
}
#u238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:356px;
  width:350px;
  height:23px;
  opacity:0;
  color:#FFFFFF;
}
#u238_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:346px;
  word-wrap:break-word;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:24px;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:379px;
  width:350px;
  height:38px;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:24px;
}
#u240_text {
  border-width:0px;
  position:absolute;
  left:36px;
  top:7px;
  width:314px;
  word-wrap:break-word;
}
#u241_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Anticon Regular', 'Anticon';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#BFBFBF;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:390px;
  width:15px;
  height:15px;
  font-family:'Anticon Regular', 'Anticon';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#BFBFBF;
}
#u241_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u242_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:415px;
  width:350px;
  height:23px;
  opacity:0;
  color:#FFFFFF;
}
#u242_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:346px;
  word-wrap:break-word;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u244_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:441px;
  width:15px;
  height:15px;
}
#u244_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u245_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:438px;
  width:93px;
  height:22px;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u245_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  color:#1890FF;
  line-height:22px;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:772px;
  top:438px;
  width:65px;
  height:22px;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  color:#1890FF;
  line-height:22px;
}
#u246_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:38px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:24px;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:484px;
  width:350px;
  height:38px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:24px;
}
#u247_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:7px;
  width:318px;
  word-wrap:break-word;
}
#u248_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:48px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:center;
  line-height:28px;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:174px;
  width:350px;
  height:77px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:48px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:center;
  line-height:28px;
}
#u248_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:24px;
  width:350px;
  word-wrap:break-word;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u250_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:178px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:438px;
  width:345px;
  height:178px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u250_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u251_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:1035px;
  top:455px;
  width:77px;
  height:28px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u251_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u252_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u252 {
  border-width:0px;
  position:absolute;
  left:977px;
  top:515px;
  width:197px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u252_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:193px;
  white-space:nowrap;
}
#u253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:2px;
}
#u253 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:568px;
  width:345px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u253_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u254_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#49A9F0;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:1052px;
  top:578px;
  width:41px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#49A9F0;
}
#u254_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
